/* Base styles */

* {

    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;

}



body {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: linear-gradient(135deg, #050816, #0b1f3a);

    color: white;

    padding: 20px;

}





.card {

    width: 420px;

    max-width: 100%;

    padding: 30px;

    background: rgba(255,255,255,.08);

    backdrop-filter: blur(20px);

    border-radius: 25px;

    box-shadow: 0 20px 60px black;

}





h1 {

    text-align: center;

    color: #03dac6;

    margin-bottom: 5px;

}





.subtitle {

    text-align: center;

    opacity: .8;

    margin-bottom: 25px;

}





h3 {

    margin-top: 25px;

    color: #03dac6;

}





label {

    display: block;

    margin-top: 15px;

}





input, select {


    width: 100%;

    padding: 12px;

    margin-top: 6px;

    border-radius: 10px;

    border: none;

    background: #111827;

    color: white;

    outline: none;

}





input:focus, select:focus {

    box-shadow: 0 0 10px #03dac6;

}





button {


    margin-top: 20px;

    width: 100%;

    padding: 15px;

    border: none;

    border-radius: 15px;

    background: #03dac6;

    color: #050816;

    font-weight: bold;

    cursor: pointer;

    transition: .3s;

}





button:hover {


    transform: translateY(-3px);

    box-shadow: 0 10px 25px rgba(3,218,198,.5);


}





.result {


    margin-top: 25px;

    padding: 20px;

    background: rgba(0,0,0,.3);

    border-radius: 15px;

    line-height: 1.7;


}





hr {

    margin: 20px 0;

    border: none;

    height: 1px;

    background: rgba(255,255,255,.2);


}





strong {

    color: white;

}





.usd-text {

    color: #ffffff;

    font-weight: 600;

}





.cur-text {

    color: #03dac6;

    font-weight: 600;

}